#accountPage {
  margin: 0 20%;
  text-align: center;
}

#accountPage #orderDetails,
#accountPage #accountDetails {
  width: 80%;
  text-align: left;
  margin-bottom: 80px;
}

#accountPage h1 {
  border-bottom: 1px solid black;
  line-height: 1.5;
  font-size: 32px;
  font-weight: 700;
}

#accountPage h3 {
  line-height: 1.5;
  font-size: 24px;
  font-weight: 600;
}

#accountPage h4 {
  line-height: 1.5;
  font-size: 16px;
}

#accountPage form input::-webkit-input-placeholder {
  color: black;
  font-weight: 700;
  font-size: 32px;
}
#accountPage form input:focus::-webkit-input-placeholder {
  color: rgba(0, 0, 0, 0.7);
  font-weight: 700;
  font-size: 32px;
}

#accountPage form :-ms-input-placeholder {
  color: black;
  font-weight: 700;
  font-size: 32px;
}

#accountPage form ::-ms-input-placeholder {
  color: black;
  font-weight: 700;
  font-size: 32px;
}

#accountPage form ::placeholder {
  color: black;
  font-weight: 700;
  font-size: 32px;
}

#accountPage form input {
  width: 60%;
  margin: 0 auto;
  border: none;
  border-bottom: 1px solid black;
  text-align: center;
  line-height: 2;
  font-size: 32px;
  font-weight: 700;
  margin-top: 24px;
}

#accountPage form select:focus,
#accountPage form input:focus {
  outline: none;
}

#accountPage .collapsible {
  background: none;
  width: 100%;
  margin: 32px auto 0 auto;
  border: none;
  border-bottom: 3px solid black;
  text-align: left;
  line-height: 1.5;
  font-size: 32px;
  font-weight: 700;
  cursor: pointer;
}

#accountPage .collapsible:focus {
  outline: none;
}

#accountPage .collapsible:after {
  content: "\02795";
  /* Unicode character for "plus" sign */
  font-size: 40px;
  color: black;
  float: right;
  margin-left: 8px;
}

#accountPage .active:after {
  content: "\2796";
  /* Unicode character for "minus" sign */
}

#accountPage .content {
  margin-top: 8px;
  padding: 0 16px;
  background-color: white;
  max-height: 0;
  overflow: hidden;
  -webkit-transition: max-height 0.2s ease-out;
  transition: max-height 0.2s ease-out;
}

#accountPage .content ul {
  width: 100%;
}

#accountPage ul .echoCard {
  margin-bottom: 64px;
}

#accountPage ul .echoCard a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#accountPage ul .echoCard a .cardText {
  margin-left: 32px;
  -ms-flex-item-align: end;
  align-self: flex-end;
}

#accountPage ul .echoCard a .cardText h3 {
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 8px;
}

#accountPage ul .echoCard a .cardText h4 {
  font-weight: 500;
  margin-bottom: 8px;
}

#accountPage .total {
  border-top: 2px solid black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 32px;
}

#accountPage .total p {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  font-weight: bold;
  font-size: 24px;
}

#accountPage .total p:last-child {
  text-align: right;
}

#accountPage button {
  width: 40%;
  margin: 32px 0;
  border: 1px solid black;
  background: none;
  padding: 16px;
  font-size: 24px;
  font-weight: 900;
  cursor: pointer;
  display: block;
}

#accountPage button:nth-of-type(2) {
  color: red;
}

#accountPage #accountDetails button:hover {
  color: rgba(0, 0, 0, 0.7);
}

#accountPage p {
  margin-top: 24px;
}

#accountPage p a {
  font-weight: bold;
  text-decoration: underline;
}
