#cartPage {
	margin: 0 20%;
	text-align: left;

	h1 {
		font-size: 32px;
		margin-bottom: 32px;
		font-weight: bold;
	}

	ul {
		.echoCard {
			margin-bottom: 64px;
			a {
				display: flex;

				.cardText {
					margin-left: 32px;
					align-self: flex-end;

					h3 {
						font-size: 24px;
						font-weight: 500;
						margin-bottom: 8px;
					}

					h4 {
						font-weight: 500;
						margin-bottom: 8px;
					}
				}
			}
		}
	}

	.total {
		border-top: 2px solid black;
		padding-top: 16px;
		display: flex;

		p {
			flex: 1;
			font-weight: bold;
			font-size: 24px;
		}

		p:last-child {
			text-align: right;
		}
	}

	button {
		display: block;
		margin: 32px auto 0 auto;
		border: 1px solid black;
		background: none;
		padding: 16px;
		font-size: 24px;
		font-weight: 700;
		cursor: pointer;

		&:hover {
			color: #aeaeae;
		}
	}
}
