#checkoutPage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#checkoutPage .orderInfo {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  margin-right: 64px;
}

#checkoutPage .orderInfo [type="radio"] {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

#checkoutPage .orderInfo [type="radio"] + img {
  cursor: pointer;
}

#checkoutPage .orderInfo [type="radio"]:checked + img {
  outline: 2px solid black;
}

#checkoutPage .orderInfo .shippingInfo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

#checkoutPage .orderInfo .shippingInfo h1 {
  font-size: 32px;
  margin-bottom: 32px;
  font-weight: bold;
}

#checkoutPage .orderInfo .shippingInfo input {
  width: 100%;
  border: none;
  border-bottom: 1px solid black;
  text-align: left;
  line-height: 2;
  font-size: 32px;
  font-weight: 700;
  margin-top: 24px;
}

#checkoutPage .orderInfo .shippingInfo input::-webkit-input-placeholder {
  color: black;
  font-weight: 700;
  font-size: 32px;
}

#checkoutPage .orderInfo .shippingInfo input:-ms-input-placeholder {
  color: black;
  font-weight: 700;
  font-size: 32px;
}

#checkoutPage .orderInfo .shippingInfo input::-ms-input-placeholder {
  color: black;
  font-weight: 700;
  font-size: 32px;
}

#checkoutPage .orderInfo .shippingInfo input::placeholder {
  color: black;
  font-weight: 700;
  font-size: 32px;
}

#checkoutPage .orderInfo .shippingInfo input:focus::-webkit-input-placeholder {
  color: rgba(0, 0, 0, 0.7);
  font-weight: 700;
  font-size: 32px;
}

#checkoutPage .orderInfo .shippingInfo input:focus:-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.7);
  font-weight: 700;
  font-size: 32px;
}

#checkoutPage .orderInfo .shippingInfo input:focus::-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.7);
  font-weight: 700;
  font-size: 32px;
}

#checkoutPage .orderInfo .shippingInfo input:focus::placeholder {
  color: rgba(0, 0, 0, 0.7);
  font-weight: 700;
  font-size: 32px;
}

#checkoutPage .orderInfo .paymentInfo h2 {
  font-size: 32px;
  margin-top: 64px;
  margin-bottom: 32px;
  font-weight: bold;
}

#checkoutPage .orderInfo .paymentInfo label img {
  height: 150px;
  width: 150px;
}

#checkoutPage .orderInfo button {
  display: block;
  width: 20%;
  margin: 64px auto;
  border: 1px solid black;
  background: none;
  padding: 16px;
  font-size: 24px;
  font-weight: 700;
  cursor: pointer;
}

#checkoutPage .orderInfo button:hover {
  color: rgba(0, 0, 0, 0.7);
}

#checkoutPage .cart {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

#checkoutPage .cart h1 {
  font-size: 32px;
  margin-bottom: 32px;
  font-weight: bold;
}

#checkoutPage .cart ul li {
  margin-bottom: 24px;
}

#checkoutPage .cart ul li div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#checkoutPage .cart ul li div figure {
  margin-right: 16px;
}

#checkoutPage .cart ul li div figure img {
  width: 200px;
  height: 300px;
}

#checkoutPage .cart ul li div div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 16px;
}

#checkoutPage .cart ul li div div h3 {
  font-size: 24px;
  font-weight: bold;
}

#checkoutPage .cart ul li div a {
  -webkit-box-flex: 2;
  -ms-flex: 2;
  flex: 2;
  text-align: right;
  margin: auto 0;
  text-decoration: underline;
}

#checkoutPage .cart .total {
  border-top: 2px solid black;
  padding-top: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#checkoutPage .cart .total p {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  font-weight: bold;
  font-size: 24px;
}

#checkoutPage .cart .total p:last-child {
  text-align: right;
}
/*# sourceMappingURL=checkout.css.map */
