h1 {
	font-size: 40px;
	font-weight: 500;
	margin-bottom: 64px;
}

/* Dropdown search filter */
.dropbtn {
	background: none;
	color: black;
	cursor: pointer;
	width: 100%;
	border: none;
	text-align: left;
	outline: none;
	font-size: 18px;
	padding: 0;
	margin-bottom: 1px;
	font-family: 'Roboto Mono';
}
.dropbtn:after {
	content: '\02C5';
	margin-left: 36px;
	font-size: 18px;
}
.dropbtn.active:after {
	content: '\02C4';
}

.dropdown {
	position: relative;
	display: inline-block;
	margin-bottom: 16px;
}
.dropdown-content a:hover {
	background-color: #ddd;
}
.dropdown-content div:hover {
	background-color: #ddd;
}
.dropdown-content {
	display: none;
	position: absolute;
	background-color: #fff;
	min-width: 120px;
	overflow: auto;
	border: 1px solid #f6f6f6;
	z-index: 1;
}

.dropdown-content div {
	color: black;
	padding: 8px 10px;
	text-decoration: none;
	display: block;
}
.dropdown-content a {
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
}

.show {
	display: block;
}
#filter {
	display: flex;
	align-content: flex-start;
}
#brand {
	margin-left: 72px;
}
#brand > .dropdown-content {
	min-width: 160px;
}
.dropdown:last-of-type {
	margin-left: auto;
	margin-right: 16px;
}

/* Grid */
.productGrid {
	margin: 0 auto;
	display: flex;
	flex-wrap: wrap;
	align-content: flex-start;
}
.echoCard {
	display: inline-block;
	flex-basis: 25%;
	margin-bottom: 48px;
}
.echoCard a:hover h3 {
	text-decoration: underline;
}
h3 {
	font-size: 24px;
	font-weight: 500;
	margin-bottom: 8px;
}
.cardText {
	margin-top: 16px;
}
h4 {
	font-weight: 500;
	margin-bottom: 8px;
}
