#signUpPage {
	margin: 0 20%;
	text-align: center;

	form {
		display: flex;
		gap: 8px;
		flex-direction: column;

		input {
			width: 60%;
			margin: 0 auto;
			border: none;
			border-bottom: 1px solid black;
			text-align: center;
			line-height: 2;
			font-size: 32px;
			font-weight: 700;
			margin-top: 24px;

			&::placeholder {
				color: black;
				font-weight: 700;
				font-size: 32px;
			}

			&:focus::placeholder {
				color: rgba(0, 0, 0, 0.7);
				font-weight: 700;
				font-size: 32px;
			}
		}

		button {
			width: 20%;
			margin: 32px auto 0 auto;
			border: 1px solid black;
			background: none;
			padding: 16px;
			font-size: 24px;
			font-weight: 700;
			cursor: pointer;

			&:hover {
				color: rgba(0, 0, 0, 0.7);
			}
		}
	}

	p {
		margin-top: 24px;
		a {
			font-weight: bold;
			text-decoration: underline;
		}
	}
}
