#singleProductPage {
	margin: 0 32px 64px 32px;
}

#singleProductPage h1 {
	border-bottom: 1px solid black;
	line-height: 1.5;
	font-size: 48px;
	font-weight: 700;
}

#singleProductPage h3 {
	line-height: 1.5;
	font-size: 32px;
	font-weight: 700;
}

#singleProductPage h4 {
	line-height: 1.5;
	font-size: 24px;
}

#singleProductPage #product {
	display: flex;
}

#singleProductPage #product figure img {
	width: 450px;
	height: 600px;
	object-fit: cover;
}

#singleProductPage #product .productInfo {
	align-self: flex-end;
	margin-left: 48px;
}

#singleProductPage button {
	width: 100%;
	margin-top: 32px;
	border: 1px solid black;
	background: none;
	padding: 16px;
	font-size: 24px;
	font-weight: 900;
	cursor: pointer;
	display: block;
}

#singleProductPage button:hover {
	color: rgba(0, 0, 0, 0.7);
}

#singleProductPage p {
	margin-top: 24px;
}

#singleProductPage p a {
	font-weight: bold;
	text-decoration: underline;
}
