h1 {
	font-size: 40px;
	font-weight: 500;
	margin-bottom: 64px;
}
h2 {
	font-size: 16px;
	font-weight: 700;
	margin-bottom: 16px;
}
p {
	font-size: 16px;
	margin-bottom: 24px;
	line-height: 1.25em;
}
